ChangeLog
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
examples/test-client
examples/test-server
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1

*.lo
*.la
*.o
*.swp

Makefile
Makefile.in
.deps/
.libs/
